<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dictionary.dao.mapper.LoginLogMapper">
    <resultMap id="ResultLogMap" type="cn.com.dictionary.dao.pojo.LoginLog">
        <id column="F_ID" jdbcType="VARCHAR" property="id"/>
        <result column="F_USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="F_LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="F_LOGIN_STATUS" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <sql id="BaseColumn">
        F_ID,
        F_USER_ID,
        F_LOGIN_TIME,
        F_LOGIN_STATUS
    </sql>

    <select id="queryWrongLoginCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
            count(*)
        from
            t_tr_user_login_log
        where
            f_login_time >= DATE_SUB(NOW(), interval ${time})
            and f_login_status = 0
            and f_user_id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="queryById" parameterType="java.lang.String" resultMap="ResultLogMap">
        select
            <include refid="BaseColumn"/>
        from
            t_tr_user_login_log t
        where
            t.f_user_id = #{id}
    </select>

    <insert id="insert" parameterType="cn.com.dictionary.dao.pojo.LoginLog">
        INSERT INTO T_TR_USER_LOGIN_LOG
        <trim prefix="(" suffix=")" suffixOverrides=",">
            F_ID,
            F_LOGIN_TIME,
            <if test="userId != null">
                F_USER_ID,
            </if>
            <if test="status != null">
                F_LOGIN_STATUS,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            now(),
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
</mapper>