<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dictionary.dao.mapper.UserMapper">
    <resultMap id="UserMap" type="cn.com.dictionary.dao.pojo.User">
        <result column="T_TR_ID" jdbcType="VARCHAR" property="id"/>
        <result column="T_TR_USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="T_TR_PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="T_TR_SALT" jdbcType="VARCHAR" property="salt"/>
        <result column="T_TR_SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="T_TR_STATUS" jdbcType="INTEGER" property="status"/>
        <result column="T_TR_LOGIN_ERROR_NUMBER" jdbcType="INTEGER" property="loginNumber"/>
    </resultMap>
    <resultMap id="RoleMap" type="cn.com.dictionary.dao.pojo.Role">
        <result column="T_TR_ID" jdbcType="VARCHAR" property="id"/>
        <result column="T_TR_ROLE_NAME" jdbcType="VARCHAR" property="name"/>
        <result column="T_TR_LOCKED" jdbcType="VARCHAR" property="locked"/>
        <result column="T_TR_REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="T_TR_STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <resultMap id="PermissionMap" type="cn.com.dictionary.dao.pojo.Permission">
        <result column="T_TR_MENU_ID" jdbcType="VARCHAR" property="id"/>
        <result column="T_TR_PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="T_TR_MENU_NAME" jdbcType="VARCHAR" property="name"/>
        <result column="T_TR_MENU_TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="T_TR_PATH" jdbcType="VARCHAR" property="url"/>
        <result column="T_TR_REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="queryUserByName" resultMap="UserMap">
        select
            T_TR_USERNAME,
            T_TR_PASSWORD,
            T_TR_SALT,
            T_TR_SEX,
            T_TR_STATUS,
            T_TR_LOGIN_ERROR_NUMBER
        from
            T_TR_USER
        where
            T_TR_USERNAME = #{username}
    </select>

    <select id="queryUserRoles" resultMap="PermissionMap">
        select
            T_TR_ROLE_NAME,
        from
            T_TR_USER
        where
            T_TR_USERNAME = #{username}
    </select>

    <select id="queryUserPermission" resultMap="UserMap">
        select
            T_TR_MENU_ID,
            T_TR_PARENT_ID,
            T_TR_MENU_NAME,
            T_TR_PATH
        from
            T_TR_USER
        where
            T_TR_USERNAME = #{username}
    </select>
</mapper>