<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dictionary.dao.mapper.UserMapper">
    <resultMap id="ResultUserMap" type="cn.com.dictionary.dao.pojo.User">
        <id column="F_ID" jdbcType="VARCHAR" property="id"/>
        <result column="F_USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="F_PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="F_SALT" jdbcType="VARCHAR" property="salt"/>
        <result column="F_LOCK" jdbcType="TINYINT" property="lock"/>
        <result column="F_SEX" jdbcType="TINYINT" property="sex"/>
        <result column="F_STATUS" jdbcType="TINYINT" property="status"/>
        <result column="F_CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="F_LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    </resultMap>
    <sql id="BaseColumn">
        F_ID,
        F_USERNAME,
        F_PASSWORD,
        F_SALT,
        F_LOCK,
        F_SEX,
        F_STATUS,
        F_CREATE_TIME,
        F_LAST_LOGIN_TIME
    </sql>

    <select id="queryByName" parameterType="java.lang.String" resultMap="ResultUserMap">
        select
            <include refid="BaseColumn"/>
        from
            t_tr_user t
        where
            t.f_username = #{username} and t.f_status = 1 and t.f_lock = 0
    </select>

    <select id="queryById" parameterType="java.lang.String" resultMap="ResultUserMap">
        select
            <include refid="BaseColumn"/>
        from
            t_tr_user t
        where
            t.f_status = 1 and t.f_id = #{id} and t.f_status = 1 and t.f_lock = 0
    </select>

    <insert id="insert" parameterType="cn.com.dictionary.dao.pojo.User">
        insert into t_tr_user(
            f_id,
            f_username,
            f_password,
            f_salt,
            f_lock,
            f_sex,
            f_status,
            f_create_time)
        values (
            #{id,jdbcType=VARCHAR},
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{salt,jdbcType=VARCHAR},
            #{lock,jdbcType=TINYINT},
            #{sex,jdbcType=TINYINT},
            #{status,jdbcType=TINYINT},
            now())
    </insert>
</mapper>