<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dictionary.mapper.IUserMapper">
    <resultMap id="BaseResultMap" type="cn.com.dictionary.mapper.pojo.UserPojo">
        <result column="T_TR_ID" jdbcType="VARCHAR" property="id"/>
        <result column="T_TR_USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="T_TR_PASSWORD" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="baseColumns">
        t.T_TR_ID,
        t.T_TR_USERNAME,
        t.T_TR_PASSWORD,
        t.T_TR_STATUS
    </sql>

    <select id="queryAll" resultMap="BaseResultMap">
        select <include refid="baseColumns"/>
        from T_TR_ORG_USER t;
    </select>

    <select id="queryByUserName" parameterType="string" resultMap="BaseResultMap">
        select <include refid="baseColumns"/>
        from T_TR_ORG_USER t where t.T_TR_USERNAME = #{username,jdbcType = VARCHAR}
    </select>

    <select id="queryByLoginName" parameterType="string" resultType="string">
        select t.T_TR_PASSWORD
        from T_TR_ORG_USER t where t.T_TR_USERNAME = #{username,jdbcType = VARCHAR}
    </select>

    <insert id="insert">
        insert into
        T_TR_ORG_USER(T_TR_ID,T_TR_USERNAME,T_TR_PASSWORD,T_TR_STATUS,T_TR_CREATE_TIMESTAMP,T_TR_UPDATE_TIMESTAMP)
        values(
        #{id,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},
        NOW(),
        NOW()
        )
    </insert>

    <update id="update" parameterType="cn.com.dictionary.mapper.pojo.UserPojo">
        update T_TR_ORG_USER t
        <set>
            <if test="username != null">
                t.T_TR_USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                t.T_TR_PASSWORD = #{password,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                t.T_TR_STATUS = #{status,jdbcType=INTEGER}
            </if>
        </set>
    </update>

    <update id="updatePassword" parameterType="string">
        update T_TR_ORG_USER T
        <set>
            <if test="password != null">
                t.T_TR_PASSWORD = #{password,jdbcType=VARCHAR}
            </if>
        </set>
        where t.T_TR_USERNAME = #{username}
    </update>

    <update id="updateUserStatue" parameterType="string">
        update T_TR_ORG_USER T
        <set>
            <if test="password != null">
                t.T_TR_STATUS = #{password,jdbcType=INTEGER}
            </if>
        </set>
        where t.T_TR_USERNAME = #{username} and t.T_TR_PASSWORD = #{password}
    </update>

    <update id="logout" parameterType="string">
        update T_TR_ORG_USER T
        set t.T_TR_STATUS = 0
        where t.T_TR_USERNAME = #{username} and t.T_TR_PASSWORD = #{password}
    </update>
</mapper>