<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dictionary.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.com.dictionary.dao.pojo.User">
        <result column="T_TR_ID" jdbcType="INTEGER" property="id"/>
        <result column="T_TR_ROLE_ID" jdbcType="INTEGER" property="roleId"/>
        <result column="T_TR_USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="T_TR_PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="T_TR_STATUS" jdbcType="BOOLEAN" property="status"/>
        <result column="T_TR_PHONE" jdbcType="VARCHAR" property="iphone"/>
        <result column="T_TR_EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="T_TR_BIRTHDAY" jdbcType="DATE" property="birthday"/>
        <result column="T_TR_SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="T_TR_LAST_LOGIN_TIME" jdbcType="DATE" property="lastTime"/>
    </resultMap>

    <sql id="BaseColumns">
        t.T_TR_ID,
        t.T_TR_ROLE_ID,
        t.T_TR_USERNAME,
        t.T_TR_PASSWORD,
        t.T_TR_STATUS,
        t.T_TR_PHONE,
        t.T_TR_EMAIL,
        t.T_TR_BIRTHDAY,
        t.T_TR_SEX,
        t.T_TR_LAST_LOGIN_TIME
    </sql>

    <select id="queryAll" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns"/>
        from T_TR_USER t
    </select>

    <select id="query" resultMap="BaseResultMap">
        select
            <include refid="BaseColumns"/>
        from
             T_TR_USER t
        where
            t.T_TR_USERNAME = #{username}
    </select>
</mapper>